body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2rem;
  background-color: #111111;
}
body nav a {
  color: white;
  text-decoration: none;
}
body nav ul {
  display: flex;
  list-style: none;
}

.card {
  width: 60vw;
  margin: 2rem auto;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  background-color: #f2f2f2;
  padding: 2rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
}

.section-links {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.section-links .section-link {
  min-width: 20ch;
  text-align: center;
  text-decoration: none;
}

.content {
  width: 90%;
  margin: 0 auto;
}
.content form {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  padding: 2rem;
  background-color: rgba(107, 159, 202, 0.15);
  border-radius: 0.5rem;
}
.content form > * {
  margin: 0.5rem 0;
  padding: 0.25rem;
}
.content form .image-uploads {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}
.content form .image-uploads span {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.content form .image-uploads span label {
  margin-bottom: 0.5rem;
}
.content form .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  color: white;
  background-color: black;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  align-self: center;
}
.button:hover {
  color: white;
  background-color: #666666;
  cursor: pointer;
}
.button a {
  color: white;
}
.button a:hover {
  text-decoration: none;
}
